* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  font-size: 40px;
  color: #010101;
  background-color: rgba(237, 233, 233, 0.4);
}

.statistics {
  /* text-align: center; */
  border: 1px solid grey;
  border-radius: 5px;
  width: 300px;
  margin-top: 20px;
  background-color: #fff;
}

.title {
  padding-top: 40px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 40px;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: grey;
}

.stat-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: red;
}

.label {
  margin-bottom: 10px;
}

.percentage {
  font-size: 20px;
}
