html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'montserrat', sans-serif;
}

.conteiner {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  width: 200px;
  display: inline-block;
  padding: 20px;
  border: 3px solid blue;
  border-radius: 10px;
  background-color: yellow;
  color: black;
  text-decoration: none;
}

.btn-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: wheat;
  vertical-align: bottom;
}
.box::before {
  content: 'Это текст в ::before';
  font-size: 40px;
  color: orange;
}

.box::after {
  content: 'Это текст в ::after';
  font-size: 30px;
  color: teal;
}

/* Применить стили к псевдоэлементу .box::before при ховере по элементу .box */
.box:hover::before {
  color: green;
}

/* Применить стили к псевдоэлементу .box::after при ховере по элементу .box */
.box:hover::after {
  color: tomato;
}
